<h1>Orders</h1>
<table>
    <tr>
        <th> Created At</th>
        <th> Product Name</th>
        <th> Price </th>
        <th> Paid</th>
        <th> Product Type</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.createdAt}}</td>
        <td>{{user.product_name}}</td>
        <td>{{user.price}}</td>
        <td>{{user.paid}}</td>
        <td>{{user.product_type}}</td>
    </tr>
</table>
<button class="button button1"  (click)="back()">Back</button>