<div class="container">
    <div class="row">
      <p>
        Search by Name : <input type="text"  name="firstName" [(ngModel)]="firstName" (ngModelChange)="Search()"/>
      </p>
      <table>
        <tr>
          <th>Created At</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Street</th>
          <th>City</th>
          <th>Postcode</th>
          <th>Province</th>
          <th>Country</th>
          <th>Orders</th>
        </tr>
        <tr *ngFor="let user of users">
          <td >{{user.createdAt}}</td>
          <td>{{user.name}}</td>
          <td> {{user.lastName}}</td>
          <td>{{user.street}} </td>
          <td> {{user.city}}</td>
          <td>{{user.postcode}} </td>
          <td> {{user.province}}</td>
          <td> {{user.country}}</td>
          <td> <a [routerLink]="['/users', user.id,'orders']">Go to Orders</a></td>
        </tr>
        
      </table>
    </div>
    <br>
  </div>

 